body {
    background-color: #e0f7fa 
}
.m-left {
	margin-left: 20px;
}

.m-right {
	margin-right: 20px;
}

.btn-level {
	margin-top: 26px !important;
}	
#slider {
}
.m-slider {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; 
    opacity:0;
}
.m-card {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    overflow:hidden;
    opacity:1;
}
.m-card img {
    width:100%
}

.card-body {
    font-size: 20px;
    margin-top:10px;
}

