body {
    background-color: #e0f7fa
}
.m-left {
	margin-left: 20px;
}

.m-right {
	margin-right: 20px;
}

.btn-level {
	margin-top: 26px !important;
}

#slider {
}
.m-slider {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity:0;
}
.m-card {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    overflow:hidden;
    opacity:1;
}
.m-card img {
    width:100%
}
.modal-trigger {
    cursor: pointer;
}


#djDebug [type="checkbox"]:not(:checked), #djDebug [type="checkbox"]:checked {
    position: inherit;
    left: inherit;
}


@media (max-width: 500px) {
    .container {
        padding: 10px 0;
    }
}

.header {
    margin-bottom: 15px;
}

nav ul li:hover, nav ul li.active {
  background-color: inherit;
}

.pipe-logo {
    width: 57px;
    margin-top: 7px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .pipe-logo {
        width: 44px;
    }
}



.btn {
    z-index: 10;
}
.indicator-item {
    z-index: 10;
}

.collection-item.clue {
    margin-left: -11px;
}
.collection-item.clue i {
    visibility: hidden;
}

.collection-item.clue-solved i {
    visibility: visible;
}

