body {
    background-color: #e0f7fa
}
.m-left {
	margin-left: 20px;
}

.m-right {
	margin-right: 20px;
}

.btn-level {
	margin-top: 26px !important;
}

#slider {
    transition: width 5s linear, height 5s linear;
}

.modal-trigger {
    cursor: pointer;
}


#djDebug [type="checkbox"]:not(:checked), #djDebug [type="checkbox"]:checked {
    position: inherit;
    left: inherit;
}


@media (max-width: 500px) {
    .container {
        padding: 10px 0;
    }
}

nav {
    margin-bottom: 30px;
}

nav ul li:hover, nav ul li.active {
  background-color: inherit;
}

.pipe-logo {
    width: 57px;
    margin-top: 7px;
    margin-left: 10px;
}
