{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Sherlock{% block head-title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endblock %}
</head>
<body>
    {% block nav %}{% endblock %}
    {% block body %}

    {% endblock %}

    {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    {% endblock %}
</body>
</html>
