{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="apple-touch-icon" href="{% static 'img/icon.png' %}"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Sherlock{% block head-title %}{% endblock %}</title>
    {% block style %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% endblock %}
</head>
<body>
    {% block nav %}
        <div class="header navbar-fixed">
            <nav>
                <div class="nav-wrapper green">
                        <ul id="nav-name" class="left">
                            <li><img class="pipe-logo" src="{% static 'img/pipe.png' %}" alt=""></li>
                            <li><a href="{% url 'index' %}" class="brand-logo">Sherlock</a></li>
                        </ul>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'user_settings' %}">Settings</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        </ul>
                </div>
            </nav>
        </div>
    {% endblock %}
    {% block body %}

    {% endblock %}

    {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
    {% endblock %}
</body>
</html>
