{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col offset-s0 offset-m0 m12 l8 offset-l2 s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ hunt.name }}</span>
                    <div class="grey-text text-lighten-2">{{ hunt.owner }}</div>
                    <div class="grey-text text-lighten-2">{{ hunt.start_time }} &ndash; {{ hunt.end_time }}</div>
                    <div class="card-body">
                        {{ hunt.description }}
                    </div>
                    <div class="progress" style="display: none">
                        <div class="indeterminate"></div>
                    </div>
                    <ul class="collection cyan-text">
                        {% for clue in clues %}
                            <li class="clue collection-item modal-trigger black-text {% if clue.solved %}clue-solved{% endif %}" data-name="{{ clue.name }}" data-text="{{ clue.text }}" data-clue="{{ clue.id }}">
                                <span class="completed-status green-text">
                                    <i class="fa fa-check"></i>
                                </span>
                                {{ clue.name }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="submitmodal" class="modal">
    <form id="submit">
        <input type="hidden" id="clue-id" name="{{ form.clue.name }}" />
        {% csrf_token %}
        <div class="black-text modal-content">
            <h4 id="clue-title">This is your clue</h4>
            <p id="clue-text">This is some more info</p>
            <br>
            <div class="row">
                <label for="captured" class="col offset-l1 l4 m12 s12 btn btn-level waves-effect waves-light">Upload Image</label>
                <input name="{{ form.image.name }}" type="file" id="captured" capture="camera" href="#" style="display:none">
                <div class="input-field col l6 m12 s12">
                    <input name="{{ form.comment.name }}" type="text" id="caption" value="{% firstof form.comment.value %}">
                    <label for="caption">Caption (Optional)</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Send</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        var modal = $('#submitmodal')
        var form = $("#submit")
        var clueinp = $('#clue-id')
        var cluetit = $('#clue-title')
        var cluetxt = $('#clue-text')
        var progressBar = $('.progress')
        $('.modal-trigger').on('click', function(e) {
            var $el = $(e.target)
            clueinp.val($el.data('clue'))
            cluetit.text($el.data('name'))
            cluetxt.text($el.data('text'))
            modal.openModal()
        })
        form.on('submit', function(e) {
            var fd = new FormData(e.target)
            var clueId = $('#clue-id').val()
            var currentClue = $('li[data-clue="'+clueId+'"]')
            currentClue.addClass('clue-solved')
            progressBar.show()
            $.ajax({
                url: "{% url 'submit_image' hunt.slug %}",
                type: "POST",
                data: fd,
                processData: false,
                cache: false,
                contentType: false,
            })
            .fail(function() {
                currentClue.removeClass('clue-solved')
                progressBar.hide()
            })
            .success(function() {
                progressBar.hide()
            })
            $('#captured').val('')
            $('#caption').val('')
            e.preventDefault()
        })
    });
</script>
{% endblock %}
