{% extends 'logged_in_base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col offset-s0 offset-m0 m12 l8 offset-l2 s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{ hunt.name }}</span>
                    <ul class="collection cyan-text">
                        {% for clue in clues %}
                            <li class="collection-item modal-trigger {% if clue.solved %}disabled{% endif %}" data-name="{{ clue.name }}" data-text="{{ clue.text }}" data-clue="{{ clue.id }}">Clue Name 1</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="submitmodal" class="modal">
    <form id="submit">
        <input type="hidden" id="clue-id" name="{{ form.clue.name }}" />
        {% csrf_token %}
        <div class="black-text modal-content">
            <h4 id="clue-title">This is your clue</h4>
            <p id="clue-text">This is some more info</p>
            <br>
            <div class="row">
                <label for="captured" class="col offset-l1 l4 m12 s12 btn btn-level waves-effect waves-light">Upload Image</label>
                <input name="{{ form.image.name }}" type="file" id="captured" capture="camera" href="#" style="display:none">
                <div class="input-field col l6 m12 s12">
                    <input name="{{ form.caption.name }}" type="text" id="caption" value="{{ form.caption.value }}">
                    <label for="caption">Caption (Optional)</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Send</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
    $(document).ready(function(){
        var modal = $('#submitmodal')
        var form = $("#submit")
        var clueinp = $('#clue-id')
        var cluetit = $('#clue-title')
        var cluetxt = $('#clue-text')
        $('.modal-trigger').on('click', function(e) {
            clueinp.val($(e.target).data('clue'))
            cluetit.val($(e.target).data('title'))
            cluetxt.val($(e.target).data('text'))
            modal.openModal()
        })
        form.submit(function(e) {
            var fd = new FormData(form[0])
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "hunts/submit")
            xhr.send(fd)
            $('#captured').val('')
            $('#caption').val('')
            e.preventDefault()
        })
    });
</script>
{% endblock %}
