{% extends 'logged_in_base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col offset-s0 offset-m0 m12 l8 offset-l2 s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">My Hunts</span>
                    <ul class="collection cyan-text">
                        <li class="collection-item modal-trigger" href="#clue1">Clue Name 1</li>
                        <div id="clue1" class="modal">
                            <form id="submit">
                                {% csrf_token %}
                                <div class="black-text modal-content">
                                    <h4>This is your clue</h4>
                                    <p>This is some more info</p>
                                    <br>
                                    <div  class="row">
                                        <label for="test1" class="col offset-l1 l4 m12 s12 btn btn-level waves-effect waves-light">Upload Image</label>
                                        <input name="image" type="file" id="test1" capture="camera" href="#" style="display:none">
                                        <div class="input-field col l6 m12 s12">
                                            <input name="caption" type="text" id="caption">
                                            <label for="caption">Caption (Optional)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Send</button>
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                                </div>
                            </form>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
    });
    $("#submit").submit(function(e) {
        var fd = new FormData($("#submit")[0])
        var xhr = new XMLHttpRequest()
        xhr.open("POST","idunno")
        xhr.send(fd)
        e.preventDefault()
    })
</script>
{% endblock %}
