{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/vendor/lolliclock.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col offset-l0 m12 l4 s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Participants</span>
                    <br>
                    Invite friends with this link:
                    <input type="text" disabled class="grey-text text-lighten-2" value="{{ request.META.HTTP_HOST }}{% url 'view_hunt_short' hunt.slug %}">

                    <br>
                    {% if hunt.participants.all %}
                        <div class="collection">
                            {% for u in hunt.participants.all %}
                                <a href="#" class="collection-item cyan-text">{{ u.username|capfirst }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        No participants yet.
                    {% endif %}
                </div>
            </div>
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Settings</span>
                    <form action="{% url 'edit_hunt' hunt.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="text" name="{{ form.title.name }}" value="{{ form.title.value }}" id="room_name">
                                <label class="white-text" for="room_name">Hunt Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="clue_desc" name="{{ form.desc.name }}" length="120" class="materialize-textarea">{{ form.desc.value }}</textarea>
                                <label for="clue_desc" class="white-text">Description (Optional)</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="white-text input-field col s12 m12 l6">
                                <input class="datepicker" type="date" name="{{ form.start_time.name }}_0" value="{{ form.start_time.value.date }}" id="date_start">
                                <label class="white-text" for="date_start">Start Date</label>
                            </div>

                            <div class="white-text input-field col s12 m12 l6">
                                <input class="timepicker" type="text" name="{{ form.start_time.name }}_1" value="{{ form.start_time.value.time }}" id="time_start">
                                <label class="white-text" for="time_start">Start Time</label>
                            </div>

                            <br>
                            <div class="white-text col s12 center"> <div class="btn-level">to</div> </div>
                            <div class="white-text input-field col s12 m12 l6">
                                <input class="datepicker" type="date" name="{{ form.end_time.name }}_0" value="{{ form.end_time.value.date }}" id="date_end">
                                <label class="white-text" for="date_end">End Date</label>
                            </div>

                            <div class="white-text input-field col s12 m12 l6">
                                <input class="timepicker" type="text" name="{{ form.end_time.name }}_1" value="{{ form.end_time.value.time }}" id="time_end">
                                <label class="white-text" for="time_end">End Time</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="col s12 m12 l6 offset-l3 cyan btn waves-effect waves-light" type="submit" name="action">Update
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col offset-s0 offset-l1 offset-m0 m12 l7 s12">
            <div class="card green darken-1">
                <div class="card-content white-text" >
                   <div id="clue-cont">
                   {% include "clue_form.html" %}
                   </div>
                   <div id="clues" class="collection cyan-text">
                        {% for clue in clues %}
                        {% include "clue_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/vendor/lolliclock.js' %}"></script>
<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15
    });
    $("#newClue label").click(function() {$(this).text($(this).data("val"))})
    var sub = function(e) {
        e.preventDefault()
        console.log(this)
        var fd = new FormData(this)
        var xhr = new XMLHttpRequest()
        xhr.open("POST",window.location.pathname.slice(0,-4)+"clues/new")
        xhr.send(fd)
        xhr.onload = function() {
            if (xhr.status == 200) {
                $("#clues").append($(xhr.response))
            } else {
                $("#clue-cont").html($(xhr.response))
                $("#newClue").submit(sub)
                $("#newClue label").click(function() {$(this).text($(this).data("val"))})
            }
        }
    }
    $("#newClue").submit(sub)
    $(function(){
        $('.timepicker').lolliclock();
    })

    deleteClue = function(e) {
        e = $(e).parent();
        var id = $(e).data("clue-id");
        $(e).css("display", "none");
        $.ajax({
            url: "{% url 'delete_clue' hunt.slug %}",
            method: "POST",
            data: {
                "clue_id": id,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            }
        }).success(function() {
            $(e).remove();
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus);
            $(e).css("display", "");
        })
    };
</script>
{% endblock %}

