{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col offset-l0 m12 l4 s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Settings</span>
                    <form action="#" method="POST">
                        <div class="row">
                            <div class="col s12 input-field">
                                <input name="{{ form.title.name }}" type="text" id="room_name" value="{{ form.title.value }}">
                                <label class="white-text" for="room_name">Hunt Name</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="white-text input-field col s10 m10 l5">
                                <input name="{{ form.startdate.name }}" class="datepicker" type="date" value="{{ form.startdate.value }}" id="date_start">
                                <label class="white-text" for="date_start" >Start Date</label>
                            </div>
                            <div class="white-text col s2 center"> <div class="btn-level">to</div> </div>
                            <div class="white-text input-field col s10 m10 l5">
                                <input name="{{ form.enddate.name }}" class="datepicker" type="date" value="{{ form.enddate.value }}" id="date_end">
                                <label class="white-text" for="date_end">End Date</label>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="cyan waves-effect waves-light btn col s12">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Participants</span>
                    <div class="collection">
                        <a href="#" class="collection-item cyan-text">Corwin</a>
                        <a href="#" class="collection-item cyan-text">Ethan</a>
                        <a href="#" class="collection-item cyan-text">David</a>
                        <a href="#" class="collection-item cyan-text">Zach</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col offset-s0 offset-l1 offset-m0 m12 l7 s12">
            <div class="card green darken-1">
                <div class="card-content white-text" >
                   <div id="clue-cont">
                   {% include "clue_form.html" %}
                   </div>
                   <div id="clues" class="collection cyan-text">
                        {% for clue in clues %}
                        {% include "clue_row.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: 15
    });
    var sub = function(e) {
        e.preventDefault()
        console.log(this)
        var fd = new FormData(this)
        var xhr = new XMLHttpRequest()
        xhr.open("POST",window.location.pathname+"clues/new")
        xhr.send(fd)
        xhr.onload = function() {
            if (xhr.status == 200) {
                $("#clues").append($(xhr.response))
            } else {
                $("#clue-cont").html($(xhr.response))
                $("#newClue").submit(sub)
            }
        }
    }
    $("#newClue").submit(sub)
</script>
{% endblock %}
