{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col offset-s0 offset-m0 m12 l7 s12">
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">My Hunts</span>
                    {% with request.user.joined_hunts.all as joined_hunts %}
                    {% if joined_hunts %}
                        <div class="collection cyan-text">
                            {% for hunt in joined_hunts %}
                            {% if hunt.active %}
                            <a href="{% url 'view_hunt' hunt.slug %}" class="collection-item cyan-text">{{ hunt.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="collection">
                            {% for hunt in joined_hunts %}
                            {% if not hunt.active %}
                            <a href="{% url 'view_hunt' hunt.slug %}" class="grey lighten-2 collection-item cyan-text">{{ hunt.name }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>
                        You have no hunts right now. Create one!
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col offset-l1 m12 l4 s12">
            <div class="card green darken-1">
                <a href="{% url 'new_hunt' %}" class="cyan waves-effect waves-light btn col s12">Create Hunt</a>
            </div>
            <div class="card green darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Hosted Hunts</span>
                    <div class="collection">
                        {% for hunt in request.user.owned_hunts.all %}
                        <a href="{% url 'edit_hunt' hunt.slug %}" class="collection-item cyan-text {% if not h.active %}grey lighten-2{% endif %}">
                            {{ hunt.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
