{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block body %}

<div class="center-align">

    <div class="row">
        <div class="col l4 offset-l4 m12 s12">
            <div class="card green darken 1">
                <br>
                <span class="card-title">Login</span>
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-content">
                        {% if form.errors %}
                            <ul>
                                {% for _, e in form.errors.items %}
                                    {{ e }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% for field in form %}
                            <div class="card white">
                                <div class="row">
                                     <div class="input-field col s12">
                                        {{ field }}
                                        {{ field.label_tag }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="card-action">
                        <a href="{% url 'register' %}" class="waves-effect waves-light btn-flat cyan white-text">Register</a>
                        <button type="submit" class="waves-effect waves-light btn-flat cyan white-text">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
