{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block body %}
<div class="center-align">
    <div class="row">
        <div class="col l4 offset-l4 m12 s12">
            <div class="card green darken 1">
                <br>
                <span class="card-title">Login</span>
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-content">
                        <div class="card white">
                        <div class="row">
                             <div class="input-field col s12">
                                <input id="username" type="text">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        </div>
                        <div class="card white">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-flat cyan white-text">Register</a>
                        <button type="submit" class="waves-effect waves-light btn-flat cyan white-text">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
