{% extends 'base.html' %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/vendor/lolliclock.js' %}"></script>
    <script>
        $(function(){
            $('.timepicker').lolliclock();
            $('.datepicker').pickadate({
                selectMonths: true,
                selectYears: 15
            });
        })
    </script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/vendor/lolliclock.css' %}" />
{% endblock %}

{% block body %}
<div class="container">
    <form action="#" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col offset-l3 m12 l6 s12">
                <div class="card green darken-1">
                    {% include 'hunt_form.html' %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
