{% extends 'base.html' %}
{% load staticfiles %}
    
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block body %}
<div class="center-align">
    <div class="row">
        <div class="col l4 offset-l4 m12 s12">
            <form action="/register" method="POST">
                {% csrf_token %}
                <div class="card green darken 1">
                    <br>
                    <span class="card-title">Register</span>
                    <div class="card-content">
                        <div class="row">
                            <div class="card m-lcard">
                            <div class="input-field m-input">
                            <input name="{{ form.first_name.name }}" id="first_name" type="text" value="{{ form.first_name.value }}">
                            <label for="first_name">First Name</label>
                            </div>
                            </div>
                            <div class="card m-rcard">
                            <div class="input-field m-input">
                            <input name="{{ form.last_name.name }}" id="last_name" type="text" value="{{ form.last_name.value }}">
                            <label for="last_name">Last Name</label>
                            </div>
                            </div>
                        </div>
                        <div class="card">
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="email" name="{{ form.email.name }}" type="email" class="validate" value="{{ form.email.value }}">
                            <label for="email">Email Address</label>
                            </div>
                        </div>  
                        </div>
                        <div class="card">
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="username" name="{{ form.username.name }}" type="text" value="{{ form.username.value }}">
                            <label for="username">Username</label>
                            </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="password" type="password" name="{{ form.password1.name }}">
                            <label for="password">Password</label>
                            </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="row">
                            <div class="input-field col s12">
                            <input id="password_confirm" type="password" name="{{ form.password2.name }}">
                            <label for="password_confirm">Confirm Password</label>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="register" class="waves-effect waves-light btn-flat cyan white-text">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
