{% extends 'base.html' %}

{% block body %}
<div class="center-align">
    <div class="row">
    <div class="col l4 offset-l4 m12 s12">
        <div class="card green darken 1">
        <br>
        <span class="card-title">Register</span>
        <div class="card-content">
            <form>
            <div class="row">
                <div class="card m-lcard">
                <div class="input-field m-input">
                <input id="first_name" type="text">
                <label for="first_name">First Name</label>
                </div>
                </div>
                <div class="card m-rcard">
                <div class="input-field m-input">
                <input id="last_name" type="text">
                <label for="last_name">Last Name</label>
                </div>
                </div>
            </div>
            <div class="card">
            <div class="row">
                <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email Address</label>
                </div>
            </div>  
            </div>
            <div class="card">
            <div class="row">
                <div class="input-field col s12">
                <input id="username" type="text">
                <label for="username">Username</label>
                </div>
            </div>
            </div>
            <div class="card">
            <div class="row">
                <div class="input-field col s12">
                <input id="password" type="password">
                <label for="password">Password</label>
                </div>
            </div>
            </div>
            <div class="card">
            <div class="row">
                <div class="input-field col s12">
                <input id="password_confirm" type="password">
                <label for="password_confirm">Confirm Password</label>
                </div>
            </div>
            </div>
            </form>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn-flat cyan white-text">Register</a>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}