{% extends 'base.html' %}

{% block body %}
<div class="center-align">
    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="card green darken 1">
                <br>
                <span class="card-title">Scoreboard</span>
                <div class="card-content">
                    <form>
                        <div class="card white">
                            <table class="centered striped">
                                <thead>
                                    <tr>
                                        <th data-field='name'>Name</th>
                                        <th data-field='score'>Score</th>
                                    </tr>
                                </thead>
                                <tbody id="body">
                                {% for user in scores %}
                                    <tr><td>{{ user.username }}</td><td>{{ user.score }}</td></tr>
                                {% empty %}
                                    <tr><td>No submissions yet.</td></tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

