{% extends 'base.html' %}

{% block body %}
<div class="center-align" style="position: absolute">
    <div class="row" id="grid">
    
    </div>
</div>
       
<div class="center-align">
    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="slider m-slider" id="slider">
                <ul class="slides" id="imgul">
                    <!--li>
                        <img src="http://lorempixel.com/580/250/nature/1">
                        <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li-->
                </ul>
            </div>
            <a id="swapper" class="btn waves-effect waves-light btn-flat cyan" onclick="swap()">Slideshow</a>
            <!--a class="waves-effect waves-light btn-flat cyan" onclick="fullscreen()">Fullscreen</a-->
        </div>
    </div>
</div>
{% endblock %}
    	
{% block scripts %}
{{ block.super }}
<script>
    images = []
    state = 1
    //firstpoll = 0;
    function swap() {
        if(state==1) {
            $('.m-card').css('opacity', 0);
            $('#slider').css('opacity', 1);
            $("#swapper").text("Gallery")
        }
        else {
            $('.m-card').css('opacity', 1);
            $('#slider').css('opacity', 0);
            $("#swapper").text("Slideshow")
        }
        state ^= 1
    }
    var fetchList = function(cb) {
        var url = "{% url 'get_image_stream' hunt.slug %}";
        var xhr = new XMLHttpRequest()
        xhr.open("GET", url)
        xhr.onload = function() {
            cb(xhr.response, xhr)
        }
        xhr.send()
    }
    function addImage(url,title, tag) {
        $("#imgul").append('<li><img src="'+url+'"><div class="caption center-align"><h3>'+title+'</h3><h5 class="light grey-text text-lighten-3">'+tag);
        //console.log(tag);
        $("#grid").append('<div class="col s4"> <div class="card m-card"> <div class="card-content"> <img src="'+url+'"> </div></div></div>');
        //$('.slider').slider({full_width:true});
    }
    //submissions={{ hunt.values }}//[["http://lorempixel.com/580/250/nature/1","hello","world"],["http://lorempixel.com/580/250/nature/2","i am","so tired"],[ "http://lorempixel.com/580/250/nature/3","i could use","some serious sleep"]]
    $(document).ready(function() {
            setInterval(function() {poll()},6e4)
            poll()
    })
    var poll = function() {
        fetchList(function(res) {
            submissions = JSON.parse(res)
            for (var image in submissions) {
                if (images.indexOf(submissions[image][0]) < 0) {
                    addImage(submissions[image][0],submissions[image][2],submissions[image][1])
                    images.push(submissions[image][0])
                }
            }
            //if (!firstpoll) {
            $('.slider').slider({full_width:true});
            //    firstpoll=1;
            //}
            if (state) {
                $('#slider').css('opacity', 0)
            } else {
                $('.m-card').css('opacity', 0)
            }
        })
    }
   
</script>

{% endblock %}
