{% extends 'base.html' %}

{% block body %}
<div class="center-align" style="position: absolute">
    <div class="row" id="grid">
        <div class="col s3 gc" id="c0"></div> 
        <div class="col s3 gc" id="c1"></div> 
        <div class="col s3 gc" id="c2"></div> 
        <div class="col s3 gc" id="c3"></div> 
    </div>
</div>
       
<div class="center-align">
    <div class="row">
        <div class="col l8 offset-l2 m12 s12">
            <div class="slider fullscreen m-slider" id="slider">
                <ul class="slides" id="imgul">
                </ul>
            </div>
            <a id="swapper" class="btn waves-effect waves-light btn-flat cyan" onclick="swap()">Slideshow</a>
        </div>
    </div>
</div>
{% endblock %}
    	
{% block scripts %}
{{ block.super }}
<script>
    images = []
    state = 1
    //firstpoll = 0;
    function swap() {
        if(state==1) {
            $('.m-card').css('opacity', 0);
            $('#slider').css('opacity', 1);
            $("#swapper").text("Gallery")
        }
        else {
            $('.m-card').css('opacity', 1);
            $('#slider').css('opacity', 0);
            $("#swapper").text("Slideshow")
        }
        state ^= 1
    }
    var fetchList = function(cb) {
        var url = "{% url 'get_image_stream' hunt.slug %}";
        var xhr = new XMLHttpRequest()
        xhr.open("GET", url)
        xhr.onload = function() {
            cb(xhr.response, xhr)
        }
        xhr.send()
    }
    function addImage(url,title, tag) {
        
        cols = $(".gc").toArray()
        mino = $(cols[0])
        minv = 1000
        for (c in cols) {
            var obj = $(cols[c])
            if (obj.height() < minv) {
                mino = obj
                minv = obj.height()
            }
        }
        $("#imgul").append('<li><img src="'+url+'"><div class="caption center-align"><h3>'+title+'</h3><h5 class="light grey-text text-lighten-3">'+tag);
        mino.append('<div class="card-image m-card"> <div class="card-content"> <img class="materialboxed" src="'+url+'"> </div></div>');
    }
    $(document).ready(function() {
            setInterval(function() {poll()},6e3)
            poll()
    })
    var tmp = function() {$('.slider').slider({full_width:true});}
    var poll = function() {
        fetchList(function(res) {
            submissions = JSON.parse(res)
            for (var image in submissions) {
                if (images.indexOf(submissions[image][0]) < 0) {
                    addImage(submissions[image][0],submissions[image][2],submissions[image][1])
                    images.push(submissions[image][0])
                }
            }
            tmp()
            tmp = function() {}
            //if (!firstpoll) {
            //    firstpoll=1;
            //}
            if (state) {
                $('#slider').css('opacity', 0)
            } else {
                $('.m-card').css('opacity', 0)
            }
        })
    }
   
</script>

{% endblock %}
